@tailwind base;
@tailwind components;
@tailwind utilities; 

div#aps-ds #tag-main table *,
div#aps-ds #tag-subline table * {
  font-size: small;
}
table#tbMain thead * {
  font-weight: 600;
}
table#tbMain td {
  /* border:none; */
  /* border : 1px solid rgb(221, 221, 221); */
  /* border-collapse: collapse; */
}
table#tbMain thead td ,
tr.current td{
  /* border: 1px solid rgba(209, 209, 209, 0.527); */
}
tr.current td {
  border-color:rgb(116, 116, 116);
}

table.tb-border td {
  border: 1px solid rgb(209, 209, 209);
  border-collapse: collapse;
}
 .vertical-text {
  writing-mode: vertical-rl; /* หรือ vertical-lr */
  transform: rotate(180deg); /* เปลี่ยนทิศทางการอ่าน */
}
table.tb-border-transparent td {
  border-color: transparent !important;
}